<style>
  .erp-timbre-container {
    width: 100% !important;
    padding: 10px 16px !important;
    background-color: #ffffff !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    font-family: Arial, sans-serif !important;
    box-sizing: border-box !important;
  }

  .texto-timbre-azul-mestre {
    color: #0284c7 !important;
    font-weight: 900 !important;
    font-size: 16px !important;
    letter-spacing: -0.5px;
  }
  .text-muted-cool {
    color: #94a3b8 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .texto-ref-azul {
    color: #0284c7 !important;
    font-weight: bold !important;
    font-size: 13px !important;
  }
</style>

<div class="erp-timbre-container" (dragstart)="$event.preventDefault()">
  <div>
    <h5 class="m-0 text-uppercase texto-timbre-azul-mestre">SAFEQ ANGOLA</h5>
    <div class="text-muted-cool mt-1">SISTEMA FINANCEIRO | PERFIL: {{ usuarioPerfil }}</div>
  </div>
  <div class="text-end">
    <div class="texto-ref-azul">Ref: {{ usuarioNome }}</div>
    <div class="text-muted-cool mt-1">Janela Cronológica: {{ dataInicial | date:'dd/MM/yyyy' }} - {{ dataFinal | date:'dd/MM/yyyy' }}</div>
  </div>
</div>

